body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
}

header img {
    width: 600px; /* Szerokość zdjęcia */
    height: auto; /* Automatyczne dostosowanie wysokości */
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#about-us, #contact-us {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-us form {
    width: 100%;
}

#contact-us input, #contact-us textarea, #contact-us button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#contact-us button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icon {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.social-icon:hover {
    color: #007bff;
}
